@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(23, 19, 32);
  background: linear-gradient(180deg, rgba(23, 19, 32, 1) 0%, rgba(42, 43, 70, 1) 32%);


}

.hideBar::-webkit-scrollbar {
  display: none;
}